body {
    font-family: Arial, sans-serif;
    background-color: #bbecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 100px;
    height: auto;
}

.login {
    display: flex;
    align-items: center;
}

.login button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.footer-content p {
    margin: 10px 0;
}
