/* Reset default padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(187, 236, 242);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.logo img {
    width: 100px;
    height: auto;
}
.links {
    flex: 1;
    display: flex;
    justify-content: center;
}
.links ul {
    list-style-type: none;
    display: flex;
}
.links li {
    margin: 0 15px;
}
.links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Login button styling */
.login {
    display: flex;
    align-items: center;
}
.login button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.login a {
    text-decoration: none;
    color: white;
}

/* Main content styling */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.signup-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.signup-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.submit-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-button:hover {
    background-color: #555;
}
.login-link {
    margin-top: 20px;
    text-align: center;
}
.login-link a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.login-link a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
.footer-content p {
    margin: 10px 0;
}
